<div class="login">
    <div class="login-container">
      <div class="login-left">
        <img class="login-img" src="assets/images/study.svg" alt="" />
      </div>
      <div class="login-form">
        <p class="form-text">
          MUHAMMAD AL-XORAZMIY NOMIDAGI TOSHKENT AXBOROT TEXNOLOGIYALARI
          UNIVERSITETI
        </p>
        <img class="login-logo" src="assets/images/logo-md.png" alt="TATU-logo" />
        <h3 class="form-title">LEARNING MANAGEMENT SYSTEM</h3>
        <form [formGroup]="form">
         <div class="form-group">
          <label class="login-label" for="login">Login</label> <br />
          <input class="login-input" type="text" id="login" placeholder="Loginni kiriting" required  formControlName="login"/> <br />
         </div>
          <div class="form-group">
              <label class="login-label" for="parol">Parol</label> <br />
          <input class="login-input" type="text" id="parol" placeholder="Parolni kiriting" required  formControlName="password"/> <br />
          </div>
          <button class="form-btn" (click)="submit()">
            <!-- <a routerLink="/dashboard">Submit</a> -->
             submit
          </button>
        </form>
      </div>
    </div>
  </div>
  
